<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class='container-fluid'>
        <div class="jumbotron text-center">
            <h1>Learn some stuff about Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">--retreive fax--</a></p>
    </div>
    <h1>Latest Mars News</h1>
    <h3>{{  red_planet.newest_headline  }}</h3>
    <p>{{ red_planet.newest_summary  }}</p>
    <h1>Featured Image</h1>
    <img src="{{  red_planet.mars_image_location  }}" alt='Featured image' class="col-md-6">
    <h1>Compared to Earth:</h1>
    <div class='table-responsive'>
        <table class="table " height = '300px'>
            <tr>
                {% for item in red_planet.mars_table[0] %}
                <th>{{ item }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for item in red_planet.mars_table %}
                    <tr>
                    {% for item in red_planet.mars_table[loop.index] %}
                    <td>{{ item }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tr>
        </table>
    </div>
    <h1 class="text-center" >Mars Hemispheres</h1>
    <div class=row>    
        <div class="col-md-3">
            <img src="{{  red_planet.hemispheres[0].image_url  }}" width='200' height='200'>
            <h3>{{ red_planet.hemispheres[0].hemishpere_name  }}</h3>
        </div>
        <div class="col-md-3">
            <img src="{{  red_planet.hemispheres[1].image_url  }}" width='200' height='200'>
            <h3>{{ red_planet.hemispheres[1].hemishpere_name  }}</h3>
        </div>
        <div class="col-md-3">
            <img src="{{  red_planet.hemispheres[2].image_url  }}" width='200' height='200'>
            <h3>{{ red_planet.hemispheres[2].hemishpere_name  }}</h3>
        </div>
        <div class="col-md-3">
            <img src="{{  red_planet.hemispheres[3].image_url  }}" width='200' height='200'>
            <h3>{{ red_planet.hemispheres[3].hemishpere_name  }}</h3>
        </div>
    </div>
</body>


</html>